Package: com.blackamar.vip
Name: BLACK AND AMAR VIP
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: الحماية الأقوى والفل هاك المتطور لجهازك بدون جلبريك.
Maintainer: BLACK AND AMAR
Author: BLACK AND AMAR
Section: Tweaks
