Package: com.gemini.protection
Name: Gemini Stable Hook
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Ultimate No-Crash Protection for Non-Jailbroken devices.
Maintainer: Gemini
Author: Gemini
Section: Tweaks
